body {
    font: 14px Verdana;
}

.tabs {
    margin: 0 auto;
    padding: 5px;
    width: 400px;
    height: 300px;
    border: 1px solid;
    overflow-y: auto;
}

.tabs__menu {
    margin: 0;
    padding: 0;
    background: #aaa;
}

.tabs__header {
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 25px;
    border: 1px solid;
    list-style: none;
    text-align: center;
    background: #ccc;
    cursor: pointer;
}

.tabs__content {
    padding-left: 10px;
}

form {
    margin: 10px auto;
    padding: 5px;
    width: 400px;
    height: 150px;
    border: 1px solid;
}

label {
    position: relative;
    display: block;
    margin: 15px 0;
}

label input {
    position: absolute;
    left: 80px;
}

.hover {
    position: absolute;
    left: 230px;
    top: 4px;
    font-size: 10px;
}
