.tabs {
    margin: 50px auto;
    padding: 5px;
    width: 400px;
    height: 350px;
    font: 14px Verdana;
}

.tabs__menu {
    margin: 0;
    padding: 0;
    background: #aaa;
}

.tabs__header {
    display: inline-block;
    margin: 5px 0;
    margin-left: 22px;
    width: 100px;
    height: 25px;
    list-style: none;
    text-align: center;
    line-height: 22px;
    background: #ccc;
    cursor: pointer;
}

.tabs__content {
    margin-top: 10px;
    padding-left: 10px;
}
